
/* 
Color caca: #FF6D17
Marron gris: #7F694D
rosa gris: #E8C3C3
niggi: #040C0D


*/
html{
	font-family: 'IBM Plex Mono', monospace;
}

a{
	text-decoration: none;
	color: #FF6D17;
}

.title{
text-transform: uppercase;
}

.container{

	background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.content{

max-width: 960px;
max-height: 500px;
width: 100%;
height: 100%;
background-color: white;
}
.fa-beer{
color:#ffc400;


}
.paragraph{
	line-height: 1.8em;
	font-weight: 300;
}

.table{

	width: 100%;
border-spacing: 0;
}


.table td, .table th{
	padding: 1em;
text-align: left;
}
.table tr:nth-child(even){background-color: #f3e5f5;}